<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/q3q.css">
</head>
<body>
<div class="header">
    <div class="nav">
        <img src="../static/logo.png" alt="" class="img1">
        <ul>
            <li class="sel"><a href="/">网站首页</a></li>
            <li><a href="/news">天气新闻</a></li>
            <li><a href="/yubao">天气预报</a></li>
            <li><a href="/aqi">空气质量</a></li>
            <li><a href="/xxt">线性图</a></li>
            <li><a href="/bzt">饼状图</a></li>
             <li><a href="/geot">地图</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="side1 shd">
        <ul>
            <h2>学术动态</h2>
            <li><a href="#">林火研究论坛第十六讲</a></li>
            <li><a href="#">林火研究论坛第十六讲</a></li>
            <li><a href="#">林火研究论坛第十六讲</a></li>
            <li><a href="#">林火研究论坛第十六讲</a></li>
            <li><a href="#">林火研究论坛第十六讲</a></li>
            <li><a href="#">林火研究论坛第十六讲</a></li>
        </ul>
    </div>
    <div class="side2 shd">
        <div><img class="img0" src="../static/1.jpg"></div>
        <!--        <div><img src="../static/2.gif"></div>-->
        <!--        <div><img src="../static/3.gif"></div>-->
        <div class="bar1 shd">
            <div class="bar2"><img src="../static/1.jpg" class="img3">
                <div class="bar3 shd"></div>
                <!--                    <p>12月6日上午，学校党委理论学习中心组在综合办公楼608会议室举行2022年第二十三次党委理论学习中心组集中学习会。学习会由党委书记张志坤主持。-->

                <!--                    学习会上，党委副书记、纪委书记宋吉红领学了习近平总书记在党的十九届七中全会第二次全体会议上的讲话。她表示，十九届七中全会为党的二十大作出了精心的准备和安排，习近平总书记的讲话对全体共产党员提出了要求，表达了对党员领导干部，特别是年轻干部的关怀，我们要按照习近平总书记的要求，弘扬伟大建党精神，扎实工作，开拓进取，继续学习贯彻好党的二十大精神</p></div>-->
            </div>
        </div>
        <div class="bar1 shd"></div>
        <div class="bar1 shd"></div>
        <div class="bar1 shd"></div>
        <div class="bar1 shd"></div>
        <div class="bar1 shd"></div>

    </div>

    <div class="side3 shd">
        <ul class="s3ul">
            <li><a class="s3a" href="/login"><h3>登录</h3></a></li>
            <li><a class="s3a" href="/regin"><h3>注册</h3></a></li>
        </ul>
        <div>
            <!--            <h4 class="fl clearbox">服务快报</h4>-->
            <a href="#" class="fl clearbox s3a1"><h3>新闻网→</h3></a>
        </div>
        <br>
        <br>
        <div class="news">
            <ul>
                <li><span>最新</span><a href="#">学校召开2022年第二十三次</a></li>
                <li><span>最新</span><a href="#">我校师生深切缅怀江泽民同志</a></li>
                <li><span>最新</span><a href="#">我校团队在天然产物国际著名</a></li>
                <li><span>最新</span><a href="#">喜报|我校学子摘得3项国赛</a></li>
                <li><span>最新</span><a href="#">我校学子在全国高校模拟法庭</a></li>
            </ul>
        </div>
        <div class="icon">
            <ul>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
                <li><img class="img2" src="../static/l1.png">
                    <p>1</p></li>
            </ul>
        </div>
    </div>

</div>
<div class="footer">
        XX公司 天气版权所有 copyright @XX气象分析服务中国
</div>
</body>
</html>